---
import Typography from '../components/Typography.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main>
    <Typography htmlTag={'p'} />
  </main>
</Layout>
